

*{
    padding: 0;
    margin-top: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(Images/nasa-7Cz6bWjdlDs-unsplash.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

nav{
    height: 100px;
    width: 100%;
    background: #11304f;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: aliceblue;
    padding: 10px 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active, a:hover{
    transition: .5s;
    border: 1px solid rgb(164, 118, 191);
    
}

nav #icon{
    color: rgb(170, 200, 227);
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
section#title{
    /*height: calc(100vh - 60px);*/
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10%;
    background-color: rgba(21, 14, 72, 0.949);
}

@media (max-width: 1048px){
label.logo{
    font-size: 32px;
    padding-left: 60px;
}

nav ul {
    margin-right: 20px;
}

nav a{
    font-size: 17px;
}
}

@media (max-width: 909px){
nav #icon{
    display: block;
}

nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:  rgba(14, 0, 117, 0.949);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav a {
    font-size: 20px;

}

a.active, a:hover{
    border: none;
    color: #9f8ece;
    
}

nav ul.show{
    left: 0;
}

}

/*section#info{
    color: rgb(193, 38, 38);
    font-size: 34px;
    text-align: center;
    margin-top: 40%;
}*/

section#info2{
    color: rgb(13, 48, 77);
    font-size: 34px;
    text-align: center;
    margin-top: 1%;
}
/*section{
    background: url(Images/nasa-_SFJhRPzJHs-unsplash.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}*/


/*DATA VIZ 1
.details-container{
    height: 250px;
    width: 100%;
    
    background: rgb(25, 0, 71);
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
    
 }
 
 .details-container .details-input{
     display: flex;
    align-items: center;
    gap: 20px;
 }
 
 .details-container .details-input span{
   color: rgb(214, 214, 214);
   opacity: 0.6;  
   font-size: 28px;
  
 }
 
 .details-container .details-input input{
     height: 30px;
     width: 150px;
     outline: none;
     padding: 0 10px;
     font-size:20px ;
     color: rgb(0, 0, 0);
 }
 
 .details-container button{
 width: 150px;
 height: 30px;
 border-radius: 5px;
 font-size: 20px;
 border: none;
 cursor: pointer;
 color: rgb(0, 0, 0);
 }
 
 .details-container button{
   transform: scale(0.95);  
 }
 
 .image-container{
     padding: 50px;
 }
 
 .image-container img{
     width:100% ;
 
 }*/

/*DATA  VIZ 2*/
 .details-container2{
    height: 250px;
    width: 100%;
    
    background: rgb(25, 0, 71);
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
    
 }
 
 .details-container2 .details-input2{
     display: flex;
    align-items: center;
    gap: 20px;
 }
 
 .details-container2 .details-input2 span{
   color: rgb(191, 194, 224);
   opacity: 0.6;  
   font-size: 28px;
  
 }
 
 .details-container2 .details-input2 input{
     height: 30px;
     width: 150px;
     outline: none;
     padding: 0 10px;
     font-size:20px ;
     color: rgba(28, 8, 98, 0.324);
 }
 
 .details-container2 button{
 width: 150px;
 height: 30px;
 border-radius: 5px;
 font-size: 20px;
 border: none;
 cursor: pointer;
 color: rgb(0, 0, 0);
 }
 
 .details-container2 button{
   transform: scale(0.95);  
 }
 
 .image-container2{
     padding: 50px;
 }
 
 .image-container2 img{
     width:100% ;
 
 }

 /*TO THE TOP BUTTON */

#myBtn{
    position: fixed;
    bottom: 20px;
    right:30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(217, 217, 217);
    color: #0d0c1e;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    display: none;
    }
    
    #myBtn:hover{
        background-color: #5050a8;
    }
