

*{
    padding: 0;
    margin-top: 0;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*background: url(Images/nasa-Yj1M5riCKk4-unsplash.jpg) no-repeat;*/
    background-size: cover;
    height: 150%;
    /*background-color: #010a14;*/
}

nav{
    height: 100px;
    width: 100%;
    background: #11304f;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color: aliceblue;
    padding: 10px 100px;
    line-height: 80px;
}

nav ul{
    float: right;
    margin-right: 40px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    border: 1px solid rgb(164, 118, 191);
    transition: .5s;
}

nav #icon{
    color: rgb(170, 200, 227);
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

section#title{
    /*height: calc(100vh - 60px);*/
    height: 30%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(200, 212, 221);
    font-size: 20px;
    margin-top: 20%;
    margin: 20px;
    padding-top:20px ;
    background-color: rgba(20, 9, 40, 0.949);
}

@media (max-width: 1048px){
label.logo{
    font-size: 32px;
    padding-left: 60px;
}

nav ul {
    margin-right: 20px;
}

nav a{
    font-size: 17px;
}
}

@media (max-width: 909px){
nav #icon{
    display: block;
}



nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1a2f4d;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav a {
    font-size: 20px;

}

a.active,a:hover{
    border: none;
    color: #9f8ece;
    
}

nav ul.show{
    left: 0;
}

}

/*section{
    background: url(Images/nasa-Q1p7bh3SHj8-unsplash.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}*/

/*.UFO{
    height: 250px;
    width: 250px;
   align-items: center;
   
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}*/
@keyframes stretch {
    0% {
      transform: scale(.3);
     
      border-radius: 100%;
    }
    50% {
     
    }
    100% {
      transform: scale(1.0);
      
    }
  }


/*.intro{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    margin-top: 10%;
    margin-right: -40%;
}





.sent{
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    margin-right: -40%;
    margin-bottom: 4%;
    
}

.label{
    color: rgb(204, 204, 204);
    margin-left: 55%;
    margin-right: 10%;
}

.details{
    color: aliceblue;
    margin-left: 60%;
    margin-right: 10%;
}

.label .details{
    margin-bottom: 30%;
}*/



.words{
    text-align: center;
    padding-top: 4%;
    background-color: rgb(0, 0, 0);
    height: 70%;
    color: aliceblue;
    margin-bottom: 15px;
    font-size: 20px;
    }
    
    
    
    
    
    
    .singletext{
        background: #02080d;
        width: 100%;
        height: 50%;
        padding-bottom: 5%;
        margin-top: -5%;
        
        
        }

        /* Container styles */
#neo-data {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Form styles */
  div {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="date"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #343434;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #c4c4c4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1c1c1c;
  }
  
  /* Chart styles */
  svg {
    max-width: 100%;
    height: auto;
  }
  
  .bar {
    fill: #babec2; /* Blue color for bars */
  }
  
  /* Axis styles */
  .x-axis text,
  .y-axis text {
    font-size: 12px;
  }
  
  .x-axis path,
  .y-axis path {
    display: none;
  }
  
  .x-axis line {
    stroke: #2e0673;
  }
  
  .y-axis line {
    stroke: #061b6d;
  }



/*Asteroid Eros Scatter plot*/
circle {
  fill: rgb(253, 253, 253);
  opacity: 0.3;
  stroke: white;
}
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: rgb(255, 255, 255);
  font-size: 15 px;
  text-anchor: middle;
  padding-bottom: 25px;
}
 
 /* #scatter{
    background-color: hsl(235, 56%, 12%);
    height: 800px;
  }
    
 .scat{
  color: #8f32f8;
  text-align: center;
  padding-top: 20px;
 }